extends layout

block content

	h1=post.title
	p.meta Posted in 
	a(href='/categories/show/#{post.category}') #{post.category} by #{post.author}
	on #{moment(post.date).format('MM-DD-YYYY')}
	img(src='/uploads/#{post.mainimage}')
	!=post.body
	